@model Model.EF.Contact

    <div class="company_address">
        <h3>Shop NAD</h3>
        <p>Địa chỉ: @Model.Address</p>
        <p>Email: @Model.Email</p>
        <p>Số điện thoại: @Model.Phone</p>
        <p>Theo dõi <span>Facebook</span></p>
    </div>