@model List<Model.EF.Product>
@foreach (var item in Model)
{
    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.IDProduct;
    <div class="grid_1_of_4 images_1_of_4">

        <a href="@url"><img src="@item.Images" alt="@item.NameProduct"></a>
        <h2>@item.NameProduct </h2>
        <div class="price" style="border:none">
            <div class="add-cart" style="float:none">
                <h4><a href="/them-gio-hang?productId=@item.IDProduct&quantity=1">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
}
