@model List<Model.EF.ProductCategory>


           
        @foreach (var item in Model)
        {
             var url = "/san-pham/"  + @item.MetaTitle + "-" + item.IDProductCategory; 
            <li><a href="@url">@item.NameProductCategory</a></li>
        }
