@model List<ShopNAD.Models.CartItem>

    <div class="cart">
        <p>
            <u></u> <span>Giỏ hảng có :</span><div id="dd" class="wrapper-dropdown-2">
                @Model.Count sản phẩm
                <ul class="dropdown">
                    <li>you have no items in your Shopping cart</li>
                </ul>
            </div>
        </p>
    </div>

